@import "normalize.css";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  color: #1e1e1e;
  background: #1e1e1e;
  line-height: 1.5;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 1040px;
  width: 90%;
}

@media (min-width: 768px) {
  .row {
    width: 100%;
  }
}

.row .row,
.row .row .three,
.row .row .six {
  width: 100%;
}

.row .row .twelve {
  padding-left: 0;
  padding-right: 0;
}

.row .three {
  width: 100%;
}

@media (min-width: 768px) {
  .row .three {
    width: 24%;
  }
}

.row .six {
  width: 100%;
}

@media (min-width: 768px) {
  .row .six {
    width: 49%;
  }
}

.row .nine {
  width: 100%;
}
@media (min-width: 768px) {
  .row .nine {
    width: 74%;
  }
}

.row .twelve {
  width: 100%;
}

.education,
.work {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 48px;
  padding-bottom: 24px;
}

.headerCol {
  padding-top: 9px;
  padding-bottom: 20px;
}

.contact-details,
.download {
  width: 100%;
}

@media (min-width: 768px) {
  .contact-details {
    width: 60%;
  }

  .download {
    width: 40%;
  }
}

@media print {
  body {
    font-size: 13px;
    color: #000;
  }

  .hidden-print-block {
    display: none;
  }

  p {
    font-size: 12px;
  }

  .contractor-history {
    page-break-after: always;
  }

  h1 {
    line-height: 1;
  }

  .professional-skills .block,
  .six {
    width: 50%;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }
}
