*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background: #1e1e1e;
  margin: 0;
  padding: 0;
  font-smooth: antialiased;
}

p {
  font-size: 16px;
}
.cv footer {
  border-top: 0;
}

.container {
  background-color: #1e1e1e;
  color: #e1e1e1;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 200;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.twelve,
.six {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.twelve {
  width: 100%;
}

.six {
  max-width: 100%;
}

@media (min-width: 768px) {
  .six {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.print {
  display: block;
  text-align: center;
  margin: auto;
}

.text-center {
  text-align: center;
}

.section-title {
  flex-grow: 1;
  flex-basis: 100%;
}

.section-title {
  padding-bottom: 10px;
}

.section-title h2 {
  font-size: 28px;
  line-height: 1;
  margin: 0;
  border-bottom: 1px solid #e1e1e1;
}

a {
  color: #a9cc17;
  display: block;
  text-decoration: none;
}

h2,
h3 {
  font-weight: 200;
  margin: 0 0 10px;
}

h4 {
  font-weight: 200;
  margin: 0;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
  margin: 0;
}

h4 {
  font-size: 20px;
}

p {
  margin: 0 0 10px;
}

span,
strong {
  display: block;
}

strong {
  font-weight: 400;
}

ul {
  margin: 0 0 10px 10px;
  padding: 0;
}

ul li {
  list-style: disc;
  margin-left: 10px;
  margin-bottom: 0;
}

dd {
  margin-left: 0;
}

.contractor-history .twelve ul,
.contractor-history-cont .twelve ul {
  columns: 2;
}

@media print {
  body {
    font-size: 13px;
    color: #000;
  }

  .hidden-print-block {
    display: none;
  }

  p {
    font-size: 12px;
  }

  .contractor-history {
    page-break-after: always;
  }

  h1 {
    line-height: 1;
  }

  .professional-skills .block,
  .six {
    width: 50%;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }
}
